@model DreamsAI.Models.SleepSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SleepSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WakeUpTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WakeUpTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
